CHAT_MODEL_NAME=google/gemini-2.5-flash
CHAT_MODEL_KEY=
CHAT_MODEL_URL=https://openrouter.ai/api/v1

IMAGE_MODEL_NAME=google/gemini-3.1-flash-image
IMAGE_MODEL_KEY=
IMAGE_MODEL_URL=https://openrouter.ai/api/v1
